  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Siddiq Sanjaya Bakti (INAdik)</span></strong>. All Rights Reserved
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/chart.js/chart.umd.js"></script>
  <script src="/static/vendor/echarts/echarts.min.js"></script>
  <script src="/static/vendor/quill/quill.min.js"></script>
  <script src="/static/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/static/vendor/tinymce/tinymce.min.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>
  
  <!-- Template Main JS File -->
  <script>
    // $('body').toggleClass('toggle-sidebar')
  </script>
  <script src="/static/js/main.js"></script>

  <!-- auto show or hidden nav-item -->
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Mendapatkan path dari URL
      const path = window.location.pathname;
    
      // Mendapatkan semua elemen anchor dalam sidebar
      const sidebarLinks = document.querySelectorAll("#sidebar-nav a");
    
      // Loop melalui setiap elemen anchor
      sidebarLinks.forEach(function(link) {
        // Mendapatkan path dari href anchor
        const linkPath = link.getAttribute("href");
    
        // Mengecek apakah path dari URL sama persis dengan path anchor
        if (path === linkPath) {
          // Menambahkan kelas "active" ke elemen anchor
          link.classList.add("active");
    
          // Jika elemen anchor memiliki parent yang merupakan elemen collapse, kita juga buka parent tersebut
          const parentCollapse = link.closest(".collapse");
          if (parentCollapse) {
            parentCollapse.classList.add("show");
          }
        }
      });
    });
    </script>