  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link collapsed" href="/homepage">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/Online-client">
          <i class="bi bi-people"></i>
          <span>Online Client</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/dns-access">
          <i class="bi bi-globe"></i>
          <span>Domain Access</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#Service-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Service</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="Service-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/services/monitoring">
              <i class="bi bi-circle"></i><span>Monitoring</span>
            </a>
          </li>
          <li>
            <a href="/system/admin">
              <i class="bi bi-circle"></i><span>Administration</span>
            </a>
          </li>
          <li>
            <a href="/system/reboot">
              <i class="bi bi-circle"></i><span>Reboot</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#Security-nav" data-bs-toggle="collapse" href="#">
          <i class="bx bxs-virus-block"></i><span>Security</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="Security-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/system/system">
              <i class="bi bi-circle"></i><span>System</span>
            </a>
          </li>
          <li>
            <a href="/system/admin">
              <i class="bi bi-circle"></i><span>Administration</span>
            </a>
          </li>
          <li>
            <a href="/system/reboot">
              <i class="bi bi-circle"></i><span>Reboot</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#network-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Network</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="network-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/system/system">
              <i class="bi bi-circle"></i><span>System</span>
            </a>
          </li>
          <li>
            <a href="/system/admin">
              <i class="bi bi-circle"></i><span>Administration</span>
            </a>
          </li>
          <li>
            <a href="/system/reboot">
              <i class="bi bi-circle"></i><span>Reboot</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#hotspot-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Hotspot</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="hotspot-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/hotspot">
              <i class="bi bi-circle"></i><span>Admin</span>
            </a>
          </li>
          <li>
            <a href="/hotspot/user">
              <i class="bi bi-circle"></i><span>Users</span>
            </a>
          </li>
          <li>
            <a href="/hotspot/profile">
              <i class="bi bi-circle"></i><span>User Profiles</span>
            </a>
          </li>
          <li>
            <a href="/hotspot/active">
              <i class="bi bi-circle"></i><span>Active</span>
            </a>
          </li>
          <li>
            <a href="/hotspot/walled-garden">
              <i class="bi bi-circle"></i><span>Walled Garden</span>
            </a>
          </li>
        </ul>
      </li>

      <!-- <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="users-profile.html">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-blank.html">
          <i class="bi bi-file-earmark"></i>
          <span>Blank</span>
        </a>
      </li> -->

    </ul>
  </aside><!-- End Sidebar-->
