{% include '/fe/head.html'%}

<body>
  {% include '/fe/header.html'%}
  {% include '/fe/sidebar.html'%}
  
  <main id="main" class="main">
    <section class="section">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">monitor Local Device (based by static ip)</h5>

              <table class="table table-striped" id="local">
                <thead>
                  <tr>
                    <th scope="col">Hostname</th>
                    <th scope="col">Ip</th>
                    <th scope="col">Mac</th>
                    <th scope="col">Latency</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for key, value in data1.items() %}
                  <tr>
                    <td>{{value['name']}}</td>
                    <td>{{key}}</td>
                    <td>{{value['mac']}}</td>
                    <td>0</td>
                    <td>0</td>
                    <td>
                      <form action="/services/monitoring" method="POST">
                        <input type="hidden" name="ip" value="{{key}}">
                        <input type="hidden" name="mac" value="{{value['mac']}}">
                        <input type="hidden" name="name" value="{{value['name']}}">
                        <button class="btn btn-Warning" style="background-color: red !important; border-color: red !important; color: white !important;" type="submit">Remove</button>
                      </form>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Latency Ping</h5>

              <table class="table table-striped datatable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Position</th>
                    <th scope="col">Age</th>
                    <th scope="col">Start Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Brandon Jacob</td>
                    <td>Designer</td>
                    <td>28</td>
                    <td>2016-05-25</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

</body>
{% include '/fe/footer.html' %}
<script>
$(document).ready(function () {
  var table = $('#local').DataTable({
    "responsive": true
  });
    table.on('length.dt', function(e, settings, len) {
        update()
    });
    table.on('page.dt', function(e, settings) {
        var pageInfo = table.page.info();
        update()
    });  

  function update(){
    $('#local tbody tr').each(function() {
        var row = $(this);
        var ip = row.find('td:eq(1)').text();
        var $latencyCell = row.find('td:eq(3)');
        var $statusCell = row.find('td:eq(4)');

        $.ajax({
          url: '/services/monitoring/api?type=local',
          data: { ip: ip },
          success: function(response) {
            if (ip in response) {
              var cell = table.cell(row, $latencyCell);
              cell.data(response[ip].latency).draw();
              cell = table.cell(row, $statusCell);
              cell.data(response[ip].status).draw();
            } else {
              $latencyCell.text("Data tidak ditemukan");
              $statusCell.text("Data tidak ditemukan");
            }
          },
          error: function() {
            $latencyCell.text("Error");
            $statusCell.text("Error");
          }
        });
    });
  }
  update()
  setInterval(update, 60000);
});
</script>
</html>