<!DOCTYPE html>
<html lang="en">


{% include '/fe/head.html'%}

<body>
  {% include '/fe/header.html'%}
  {% include '/fe/sidebar.html'%}
  
  <main id="main" class="main">
    <section class="section dashboard">
      <div class="card">
        <div class="card-body pt-3">
            <h5 class="card-title">Domain Access | <span onclick="location='/dns-access?purge=yes'">Purge DNS</span> | <span onclick="location='/dns-access?reenable=yes'">Re enable</span></h5>
            <table class="table table-striped" id="dns-logs">
                <thead>
                  <tr>
                    <th scope="col"><input type="checkbox" id="checkAll" />Batch</th>
                    <th scope="col">Domain</th>
                    <th scope="col">Total Access</th>
                    <th scope="col">State</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
        </div>
      </div>

    </section>

  </main><!-- End #main -->

</body>
{% include '/fe/footer.html' %}
<script>
  $(document).ready(function () {
        const table = $('#dns-logs').DataTable({
            dom: 'Blfrtip',
            "processing": true,
            "serverSide": true,
            "responsive": true,
            "select": 'multi',
            "ordering": false,
            "buttons": [
                {
                    text: 'Unblock',
                    action: function ( e, dt, node, config ) {
                        unblock();
                    },
                    attr: {
                        style: 'background-color: green !important; border-color: green !important; color: white !important;'
                    },
                    enabled: false
                },
                {
                    text: 'Block',
                    action: function ( e, dt, node, config ) {
                        block()
                    },
                    attr: {
                        style: 'background-color: red !important; border-color: red !important; color: white !important;'
                    },
                    enabled: false
                }
            ],
            "ajax": {
                "url": "/dns-access/logs",
                "data": function (d) {
                    d.page = Math.ceil(d.start / d.length) + 1;
                    d.items_per_page = d.length;
                    d.search = d.search.value;
                }
            },
            "columns": [
                {   
                    "data": null,
                    "render": function (data, type, row, meta) {
                        return '<input type="checkbox" class="select-checkbox" />';
                    }
                },
                { "data": "url" },
                { "data": "num_access" },
                {
                    "data": "mode",
                    "render": function (data, type, row) {
                        if (data === 'Block') {
                            return '<i class="fas fa-lock fa-beat text-danger fa-lg"></i>';
                        } else if (data === 'Unblock') {
                            return '<i class="fas fa-lock-open text-success"></i>';
                        } else {
                            return data;
                        }
                    }
                },
                {
                  "data": null,
                  "render": function (data, type, row) {
                      var action = row.mode === 'Block' ? 'Unblock' : 'Block';
                      var buttonClass = row.mode === 'Block' ? 'btn-success' : 'btn-danger';
                      
                      var buttonHtml = '<form action="/dns-access" method="POST">';
                      buttonHtml += '<input type="hidden" name="url" value="' + row.url + '">';
                      buttonHtml += '<input type="hidden" name="mode" value="' + action + '">';
                      buttonHtml += '<button class="btn ' + buttonClass + '" type="submit">' + action + '</button>';
                      buttonHtml += '</form>';

                      return buttonHtml;
                  }
                }
            ]
        });
        $('dns-logs thead th:first').html('<input type="checkbox" id="checkAll" /> Batch');

        $('#dns-logs tbody').on('click', 'tr', function () {
            var checkbox = $(this).find('td:eq(0) input.select-checkbox');
            var isChecked = checkbox.prop('checked');
            checkbox.prop('checked', !isChecked);
        });
        
        $('#checkAll').on('change', function () {
            var isChecked = $(this).prop('checked');
            table.rows().deselect();
            if (isChecked) {
                table.rows().select();
            }
        });

        $('#checkAll').on('change', function () {
        var isChecked = $(this).prop('checked');
            $('table tbody input.select-checkbox').prop('checked', isChecked);
        });

        $('table tbody').on('change', 'input.select-checkbox', function () {
            var isAllChecked = $('table tbody input.select-checkbox:checked').length === $('table tbody input.select-checkbox').length;
            $('#checkAll').prop('checked', isAllChecked);
        });

        $('#dns-logs tbody').on('change', '.select-checkbox', function () {
            table.button(0).enable();
            table.button(1).enable();
        });
        
        function unblock(){
          const selectedUrls = [];

          $('#dns-logs tbody').find('input.select-checkbox:checked').each(function () {
              const rowData = table.row($(this).closest('tr')).data();
              selectedUrls.push(rowData.url);
          });
          const queryString = selectedUrls.map(url => `urls=${url}`).join('&');
          const url = `/dns-access?state=unblock&${queryString}`;

          // Membuka halaman dengan URL GET
          window.location.href = url;
        };

        function block() {
          const selectedUrls = [];

          $('#dns-logs tbody').find('input.select-checkbox:checked').each(function () {
              const rowData = table.row($(this).closest('tr')).data();
              selectedUrls.push(rowData.url);
          });

          const queryString = selectedUrls.map(url => `urls=${url}`).join('&');
          const url = `/dns-access?state=block&${queryString}`;

          // Membuka halaman dengan URL GET
          window.location.href = url;
        };
    });
  </script>    
</html>