{% include 'fe/head.html'%}

<body>
  {% include 'fe/header.html'%}
  {% include 'fe/sidebar.html'%}
  
  <main id="main" class="main">
    <section class="section dashboard">
      <div class="card">
        <div class="card-body pt-3">
          <ul class="nav nav-tabs nav-tabs-bordered" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="overview-tab" data-bs-toggle="tab" href="#overview" data-bs-target="#bordered-overview" type="button" role="tab" data-toggle="tab" aria-controls="overview" aria-selected="true">Overview</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="realtime-tab" data-bs-toggle="tab" href="#realtime" data-bs-target="#bordered-realtime" type="button" role="tab" data-toggle="tab" aria-controls="realtime" aria-selected="false" tabindex="-1">Real Time Flow</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="flow-history-tab" data-bs-toggle="tab" href="#flow-history" data-bs-target="#bordered-flow-history" type="button" role="tab" data-toggle="tab" aria-controls="flow-history" aria-selected="false" tabindex="-1">Flow History</a>
            </li>
          </ul>
          <div class="tab-content pt-2" id="pills-tabContent">

            <div class="tab-pane fade active show" id="bordered-overview" role="tabpanel" aria-labelledby="overview-tab">
              <!--overview  -->
                <div class="card-body">
                    <h6 class="card-title">Overview</h6>
                    <div class="row">
                      <div class="col">
                        <div class="sales-card">
                          <div class="card info-card card-body">
                              <h5 class="card-title">System <span>| Now</span></h5>
                              <div class="row">
                                <div class="col">
                                  <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                      <i class="bi bi-cpu"></i>
                                      <!-- <canvas id="cpuChart"></canvas> -->
                                    </div>
                                    <div class="ps-3">
                                      <h5 id="cpuusage"><div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                      </div></h5>
                                    </div>
                                  </div>
                                </div>  
                                <div class="col">
                                  <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                      <i class="bx bx-memory-card"></i>
                                      <!-- <canvas id="ramChart"></canvas> -->
                                    </div>
                                    <div class="ps-3">
                                      <h5 id="ramusage"><div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                      </div></h5>
                                      <span id="ramtotal" class="text-success small pt-1 fw-bold">~</span> <span class="text-muted small pt-2 ps-1">Ram</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>

                      <div class="col">
                        <div class="sales-card">
                          <div class="card info-card card-body">
                            <h5 class="card-title">Online Clients <span>| Now</span></h5>
                            <div class="row"> 
                              <div class="col">
                                <div class="d-flex align-items-center">
                                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                  </div>
                                  <div class="ps-3">
                                    <h5 id="useronline">
                                      <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                      </div>
                                    </h5>
                                    <span class="text-success small pt-1 fw-bold">Dhcp</span>
                                  </div>
                                </div>
                              </div>
                              <div class="col">
                                <div class="d-flex align-items-center">
                                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                  </div>
                                  <div class="ps-3">
                                    <h5 id="userhotspot">
                                      <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                      </div>
                                    </h5>
                                    <span class="text-success small pt-1 fw-bold">Hotspot</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col">
                        <div class="sales-card">
                          <div class="card info-card card-body">
                            <h5 class="card-title">Load Balancing <span>| Now</span></h5>
                            <div class="row" id="loadbalancerow">
                              <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="card-body">
                  <h6 class="card-title">Device Detail</h6>
                  <div class="row">
                    <div class="col">
                      <div class="sales-card">
                        <div class="card info-card card-body">
                          <div class="row mb-3"></div>
                          <div class="row mb-1">
                            <label class="col-sm-3">Architecture</label>
                            <div class="col">{{cpu}}</div>
                          </div>
                          <div class="row mb-1">
                            <label class="col-sm-3">Model</label>
                            <div class="col">{{model}}</div>
                          </div>
                          <div class="row mb-1">
                            <label class="col-sm-3">Target</label>
                            <div class="col">{{arch}}</div>
                          </div>
                          <div class="row mb-1">
                            <label class="col-sm-3">Firmware</label>
                            <div class="col">{{desc}}</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="sales-card">
                        <div class="card info-card card-body">
                            <div class="row mb-3"></div>
                            <div class="row mb-1">
                              <label class="col-sm-3">Uptime</label>
                              <div class="col" id="uptime"></div>
                            </div>
                            <div class="row  mb-1">
                              <label class="col-sm-3">CPU Usage</label>
                              <div class="col"> 
                                <div class="progress mt-1">
                                  <div class="progress-bar" id="cpu_user" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="USER">100%</div>
                                </div>
                              </div>
                              <div class="col"> 
                                <div class="progress mt-1">
                                  <div class="progress-bar" id="cpu_system" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="SYSTEM">100%</div>
                                </div>
                              </div>
                              <div class="col"> 
                                <div class="progress mt-1">
                                  <div class="progress-bar" id="cpu_nic" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="NIC">100%</div>
                                </div>
                              </div>
                              <div class="col"> 
                                <div class="progress mt-1">
                                  <div class="progress-bar" id="cpu_idle" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="IDLE">100%</div>
                                </div>
                              </div>
                              <div class="col"> 
                                <div class="progress mt-1">
                                  <div class="progress-bar" id="cpu_io" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="IO">100%</div>
                                </div>
                              </div>
                              <div class="col"> 
                                <div class="progress mt-1">
                                  <div class="progress-bar" id="cpu_irq" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="IRQ">100%</div>
                                </div>
                              </div>
                              <div class="col"> 
                                <div class="progress mt-1">
                                  <div class="progress-bar" id="cpu_sirq" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="SIRQ">100%</div>
                                </div>
                              </div>
                            </div>

                            <div class="row mb-1">
                              <label class="col-sm-3">CPU Load</label>
                              <div class="col" data-toggle="tooltip" data-placement="top" title="1 Minute" id="load_1"></div>
                              <div class="col" data-toggle="tooltip" data-placement="top" title="5 Minute" id="load_5"></div>
                              <div class="col" data-toggle="tooltip" data-placement="top" title="15 Minute" id="load_15"></div>
                              <div class="col" data-toggle="tooltip" data-placement="top" title="Service Running" id="load_proc"></div>
                            </div> 

                            <div class="row  mb-1">
                              <label class="col-sm-3">Memory Usage</label>
                              <div class="col"> 
                                <div class="progress mt-1">
                                  <div class="progress-bar text-dark" id="mem_used" role="progressbar" style="width: 10%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="USED">100%</div>
                                  <div class="progress-bar bg-success text-dark" id="mem_shared" role="progressbar" style="width: 30%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="SHARE">100%</div>
                                  <div class="progress-bar bg-secondary text-dark" id="mem_buffer" role="progressbar" style="width: 30%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="BUFFER">100%</div>
                                  <div class="progress-bar bg-info text-dark" id="mem_cache" role="progressbar" style="width: 30%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="CACHE">100%</div>
                                  <div class="progress-bar bg-light text-dark" id="mem_free" role="progressbar" style="width: 20%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="FREE">100%</div>
                                </div>
                              </div>
                              
                            </div>

                        </div>
                      </div>
                    </div>
                  </div>
              </div>

              <!-- ethernet  -->
                <div class="card-body">
                  <h6 class="card-title">Ethernet Status</h6>
                  <div class="row">
                    <div class="col">
                      <div class="sales-card">
                        <div class="card info-card card-body">
                          <h5 class="card-title">Ethernet <span>| Now</span></h5>
                          <div class="row ps-3" id="ethernetover">
                            <div class="spinner-border" role="status">
                              <span class="visually-hidden">Loading...</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>

            </div>
            
            <div class="tab-pane fade" id="bordered-realtime" role="tabpanel" aria-labelledby="realtime-tab">
              <div class="sales-card">
                <div class="card-body" style="background-color:rgb(170, 216, 253, 0.2); border-radius: 10px">
                  <h5 class="card-title">Port Real-Time Flow</h5>
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Interval Update</label>
                    <div class="col-sm-2">
                      <select class="form-select" id="intervalSelect">
                        <option value="0.1">0,1 sec (high cpu usage)</option>
                        <option value="0.5">0,5 sec (high cpu usage)</option>
                        <option value="1">1 sec</option>
                        <option value="2" selected>2 sec</option>
                        <option value="5">5 sec</option>
                      </select>
                    </div>
                  </div>
                  <canvas id="realtimehorizontalbar" style="max-height: 250px; display: block; box-sizing: border-box; height: 182px; width: 364px;"></canvas>  
                </div>
              </div>
              <br>
              <div class="sales-card">
                <div class="card-body" style="background-color:rgba(170, 216, 253, 0.2); border-radius: 10px">
                  <h5 class="card-title">Flow In Realtime</h5>
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Ethernet </label>
                    <div class="col-sm-2">
                      <select class="form-select" id="ethernet">
                        <option value="eth0" selected>eth0</option>
                      </select>
                    </div>
                  </div>
                  <canvas id="realtimeBarChart" style="max-height: 250px; display: block; box-sizing: border-box; height: 182px; width: 364px;"></canvas>  
                </div>
              </div>
              <br>
              <div class="sales-card">
                <div class="card-body" style="background-color:rgba(170, 216, 253, 0.2); border-radius: 10px">
                  <h5 class="card-title">Session/Conntract</h5>
                  <canvas id="realtimeBarChartsession" style="max-height: 250px; display: block; box-sizing: border-box; height: 182px; width: 364px;"></canvas>  
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="bordered-flow-history" role="tabpanel" aria-labelledby="flow-history-tab">
              <div class="sales-card">
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">History Time Machine</label>
                  <div class="col-sm-3">
                    <input type="text" id="time" class="form-control" name="daterange" />
                  </div>
                </div>
                
                <div class="accordion" id="history">

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  {% include 'fe/footer.html' %}

  <script>
    $(function() {
        $('a[data-toggle="tab"]').on('click', function(e) {
            window.localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
        var activeTab = window.localStorage.getItem('activeTab');
        if (activeTab) {
            $('#myTab a[href="' + activeTab + '"]').tab('show');
        }
    });
  </script>

<script>
  function speedeth(bytes){
    if(bytes >= 1000000){
      return bytes / 1000000 + 'G';
    }else if(bytes == 10000 || bytes == 100000){
      return bytes / 100000 + 'M'
    }else{
      return 'OFF';
    }
  }
  function uptime(data, data2){
    var c1 = 0;
    for (var i = 0; i < data2.length; i++) {
      
      if (data2[i] === 1) {
        c1++;
      }
    }

    // Menghitung persentase 0 dan 1
    var total = data2.length;
    var percentage = (c1 / total) * 100;

    document.getElementById(data).innerHTML = `Uptime : ${percentage}`;
  }
  
  function jam(){
    var currentdate = new Date();
        h = (currentdate.getHours() < 10) ? "0" + currentdate.getHours() : currentdate.getHours();
        m = (currentdate.getMinutes() < 10) ? "0" + currentdate.getMinutes() : currentdate.getMinutes();
        s = (currentdate.getSeconds() < 10) ? "0" + currentdate.getSeconds() : currentdate.getSeconds(); 
    var datetime =  h + ":"  + m + ":"  + s;
    return datetime;
  }
  
  $(document).ready(function () {   
      window.onerror = function(message, url, lineNumber) {   
          return true; 
      };  

      var interfaceData = {};
      var sessionData = [];
      var timeData = []
      var first = false;
      
      var ctx1 = document.getElementById('realtimehorizontalbar').getContext('2d');
      var horizontalChart = new Chart(ctx1, {
          type: 'bar',
          data: {
              labels: ['eth0','eth1','eth2','eth3','eth4','eth5'],
              datasets: [
                  {
                      label: 'Download-',
                      backgroundColor: 'rgb(73, 158, 9)',
                      borderColor: 'rgb(73, 158, 9)',
                      borderWidth: 1,
                      radius: 0,
                      data: [],
                  },
                  {
                      label: 'Upload-',
                      backgroundColor: 'rgb(2, 101, 151)',
                      borderColor: 'rgb(2, 101, 151)',
                      borderWidth: 1,
                      radius: 0,
                      data: [],
                  }
                  
              ],
          },
          options: {
              indexAxis: 'y',
              elements: {
                  bar: {
                      borderWidth: 2,
                  }
              },
              responsive: true,
              plugins: {
                  legend: {
                      position: 'right',
                  },
              },
              scales: {
                  x: {
                      beginAtZero: true,
                  },
                  y: {
                      stacked: false
                  }
              }
          }
      });

      var ctx2 = document.getElementById('realtimeBarChart').getContext('2d');
      var horizontalChart2 = new Chart(ctx2, {
          type: 'line',
          data: {
              labels: [],
              datasets: [
                  {
                      label: 'Upload-Mbps',
                      fill: true,
                      tension: 0.5,
                      backgroundColor: 'rgb(2, 101, 151, 0.3)',
                      borderColor: 'rgb(2, 101, 151)',
                      borderWidth: 1,
                      radius: 0,
                      data: [],
                  },
                  {
                      label: 'Download-Mbps',
                      fill: true,
                      tension: 0.5,
                      backgroundColor: 'rgb(73, 158, 9, 0.3)',
                      borderColor: 'rgb(73, 158, 9)',
                      borderWidth: 1,
                      radius: 0,
                      data: [],
                  }
              ],
          },
          options: {
              responsive: true,
              interaction: {
                  mode: 'index',
                  intersect: false
              },
              scales: {
                  x: {
                      display: true,
                      title: {
                          display: false,
                          text: 'Timestamp'
                      }
                  },
                  y: {
                      display: true,
                      title: {
                          display: true,
                          text: 'Speed - Mbps'
                      }
                  }
              }
          }
      });

      var ctx3 = document.getElementById('realtimeBarChartsession').getContext('2d');
      var horizontalChart3 = new Chart(ctx3, {
          type: 'line',
          data: {
              labels: [],
              datasets: [
                  {
                      label: 'Session',
                      fill: true,
                      tension: 0.5,
                      backgroundColor: 'rgb(2, 101, 151, 0.3)',
                      borderColor: 'rgb(2, 101, 151)',
                      borderWidth: 1,
                      radius: 0,
                      data: [],
                  },
                  // {
                  //     label: 'Download-Mbps',
                  //     fill: true,
                  //     tension: 0.5,
                  //     backgroundColor: 'rgb(73, 158, 9, 0.3)',
                  //     borderColor: 'rgb(73, 158, 9)',
                  //     borderWidth: 1,
                  //     radius: 0,
                  //     data: [],
                  // }
              ],
          },
          options: {
              responsive: true,
              interaction: {
                  mode: 'index',
                  intersect: false
              },
              scales: {
                  x: {
                      display: true,
                      title: {
                          display: false,
                          text: 'Timestamp'
                      }
                  },
                  y: {
                      display: true,
                      title: {
                          display: true,
                          text: 'Session'
                      }
                  }
              }
          }
      });

      function overview(){
        $.ajax({
              url: '/api?mode=system', // Ganti dengan URL API Anda
              method: 'GET',
              dataType: 'json',
              success: function (data) {

                  var activeTab = window.localStorage.getItem('activeTab');
                  if(activeTab == null || activeTab == '#overview'){
                    document.getElementById("cpuusage").innerHTML = (100 - data[0].cpu_idle).toFixed(1) + '%';
                    document.getElementById("ramusage").innerHTML = ((data[0].ram_total - data[0].ram_free)/1000).toFixed(2) + ' Gb';
                    document.getElementById("ramtotal").innerHTML = (data[0].ram_total/1000).toFixed(2) + ' Gb';
                    document.getElementById("useronline").innerHTML = data[0].userol;
                    document.getElementById("userhotspot").innerHTML = data[0].userhs;
                    
                    // uptime
                    document.getElementById("uptime").innerHTML = data[0].uptime;
                    // cpu_user
                    document.getElementById("cpu_user").setAttribute('aria-valuenow', data[0]['cpu_detail'][0])
                    document.getElementById("cpu_user").innerHTML =  `${data[0]['cpu_detail'][0]}%`;
                    document.getElementById("cpu_user").style.width = `${data[0]['cpu_detail'][0]}%`;
                    // cpu_system
                    document.getElementById("cpu_system").setAttribute('aria-valuenow', data[0]['cpu_detail'][1])
                    document.getElementById("cpu_system").innerHTML =  `${data[0]['cpu_detail'][1]}%`;
                    document.getElementById("cpu_system").style.width = `${data[0]['cpu_detail'][1]}%`;
                    // cpu_nic
                    document.getElementById("cpu_nic").setAttribute('aria-valuenow', data[0]['cpu_detail'][2])
                    document.getElementById("cpu_nic").innerHTML =  `${data[0]['cpu_detail'][2]}%`;
                    document.getElementById("cpu_nic").style.width = `${data[0]['cpu_detail'][2]}%`;
                    // cpu_idle
                    document.getElementById("cpu_idle").setAttribute('aria-valuenow', data[0]['cpu_detail'][3])
                    document.getElementById("cpu_idle").innerHTML =  `${data[0]['cpu_detail'][3]}%`;
                    document.getElementById("cpu_idle").style.width = `${data[0]['cpu_detail'][3]}%`;
                    // cpu_io
                    document.getElementById("cpu_io").setAttribute('aria-valuenow', data[0]['cpu_detail'][4])
                    document.getElementById("cpu_io").innerHTML =  `${data[0]['cpu_detail'][4]}%`;
                    document.getElementById("cpu_io").style.width = `${data[0]['cpu_detail'][4]}%`;
                    // cpu_irq
                    document.getElementById("cpu_irq").setAttribute('aria-valuenow', data[0]['cpu_detail'][5])
                    document.getElementById("cpu_irq").innerHTML =  `${data[0]['cpu_detail'][5]}%`;
                    document.getElementById("cpu_irq").style.width = `${data[0]['cpu_detail'][5]}%`;
                    // cpu_sirq
                    document.getElementById("cpu_sirq").setAttribute('aria-valuenow', data[0]['cpu_detail'][6])
                    document.getElementById("cpu_sirq").innerHTML =  `${data[0]['cpu_detail'][6]}%`;
                    document.getElementById("cpu_sirq").style.width = `${data[0]['cpu_detail'][6]}%`;
                    // cpu load
                    document.getElementById("load_1").innerHTML = `${data[0]['load'][0]}`;
                    document.getElementById("load_5").innerHTML = `${data[0]['load'][1]}`;
                    document.getElementById("load_15").innerHTML = `${data[0]['load'][2]}`;
                    document.getElementById("load_proc").innerHTML = `${data[0]['load'][3]}`;
                    // memory
                    const mem_total = data[0]['mem'].reduce((accumulator, currentValue) => accumulator + currentValue, 0);

                    // mem_used
                    document.getElementById("mem_used").setAttribute('aria-valuenow', data[0]['mem'][0])
                    document.getElementById("mem_used").setAttribute('aria-valuemax', mem_total)
                    document.getElementById("mem_used").innerHTML =  `${data[0]['mem'][0]}MB`;
                    document.getElementById("mem_used").style.width = `${data[0]['mem'][0]}%`;
                    // mem_shared
                    document.getElementById("mem_shared").setAttribute('aria-valuenow', data[0]['mem'][1])
                    document.getElementById("mem_shared").setAttribute('aria-valuemax', mem_total)
                    document.getElementById("mem_shared").innerHTML =  `${data[0]['mem'][1]}MB`;
                    document.getElementById("mem_shared").style.width = `${data[0]['mem'][1]}%`;
                    // mem_buffer
                    document.getElementById("mem_buffer").setAttribute('aria-valuenow', data[0]['mem'][2])
                    document.getElementById("mem_buffer").setAttribute('aria-valuemax', mem_total)
                    document.getElementById("mem_buffer").innerHTML =  `${data[0]['mem'][2]}MB`;
                    document.getElementById("mem_buffer").style.width = `${data[0]['mem'][2]}%`;
                    // mem_cache
                    document.getElementById("mem_cache").setAttribute('aria-valuenow', data[0]['mem'][3])
                    document.getElementById("mem_cache").setAttribute('aria-valuemax', mem_total)
                    document.getElementById("mem_cache").innerHTML =  `${data[0]['mem'][3]}MB`;
                    document.getElementById("mem_cache").style.width = `${data[0]['mem'][3]}%`;
                    // mem_free
                    document.getElementById("mem_free").setAttribute('aria-valuenow', data[0]['mem'][4])
                    document.getElementById("mem_free").setAttribute('aria-valuemax', mem_total)
                    document.getElementById("mem_free").innerHTML =  `${data[0]['mem'][4]}MB`;
                    document.getElementById("mem_free").style.width = `${data[0]['mem'][4]}%`;
                  }
                  
              },
              error: function (error) {
                  console.error('Error:', error);
              },
          });
      }

      function loadbalance(){
        $.ajax({
              url: '/api?mode=loadbalance-status', // Ganti dengan URL API Anda
              method: 'GET',
              dataType: 'json',
              success: function (data) {
                var loadbalancerContainer = document.getElementById('loadbalancerow');
                while (loadbalancerContainer.firstChild) {
                  loadbalancerContainer.removeChild(loadbalancerContainer.firstChild);
                }
                data.forEach(function(item) {
                              
                var div = document.createElement('div');
                div.className = 'col';
                
                if(item.status == 'online'){
                  color = 'text-success';
                }else{
                  color = 'text-dark'
                }

                div.innerHTML = `
                    <div class="col">
                      <div class="d-flex">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-globe2 ${color}" data-toggle="tooltip" data-placement="top" title="${item.interface} : ${item.tracking} : ${item.percentage}%"></i>
                        </div>
                      </div>
                    </div>
                  `;

                  loadbalancerContainer.appendChild(div);
                }); 
                $(document).ready(function () {
                  $('[data-toggle="tooltip"]').tooltip();
                });
              },
              error: function (error) {
                  console.error('Error:', error);
              },
        });
      }

      function fetchflow() {
          $.ajax({
              url: '/api?mode=flow',
              method: 'GET',
              dataType: 'json',
              success: function (data) {
                var labels = [];
                var uploadData = [];
                var downloadData = [];

                var speedrealtimebar = document.getElementById("ethernet");
                var valuespeedrealtime = speedrealtimebar.value;
                
                var activeTab = window.localStorage.getItem('activeTab');
                if (first == false){
                  first = true;
                  for (var item in data) {
                    if (item != 'eth0' & item != 'system'){
                      $('#ethernet').append('<option value="' + item + '">' + item + '</option>');
                    }
                  };
                  
                }
                
                for (var item in data) {
                  if (item != 'system'){
                    labels.push(item);
                    uploadData.push(Math.abs(data[item].send/1000));
                    downloadData.push(Math.abs(data[item].recev/1000));

                    if (!interfaceData[item]) {
                          interfaceData[item] = {
                              eth_down: [],
                              eth_upload: [],
                              time: []
                          };
                    }

                    interfaceData[item].eth_down.push(Math.abs(data[item].send/1000));
                    interfaceData[item].eth_upload.push(Math.abs(data[item].recev/1000));
                    interfaceData[item].time.push(jam());
                    
                    if (interfaceData[item].eth_down.length >= 360) {
                        interfaceData[item].eth_down = interfaceData[item].eth_down.slice(1);
                        interfaceData[item].eth_upload = interfaceData[item].eth_upload.slice(1);
                        interfaceData[item].time = interfaceData[item].time.slice(1);
                    }
                  }else{
                    sessionData.push(data[item].conntrack)
                    timeData.push(jam());
                    if(sessionData.length > 360){
                      sessionData.slice(1);
                      timeData.slice(1);
                    }
                  }
                }


                if (activeTab == '#realtime') {
                    if (valuespeedrealtime in interfaceData) {
                        horizontalChart2.data.datasets[0].data = interfaceData[valuespeedrealtime].eth_upload;
                        horizontalChart2.data.datasets[1].data = interfaceData[valuespeedrealtime].eth_down;
                        horizontalChart2.data.labels = interfaceData[valuespeedrealtime].time;
                    }

                    var uploadDataset = horizontalChart.data.datasets[0];
                    var downloadDataset = horizontalChart.data.datasets[1];
                    horizontalChart.data.labels = labels
                    uploadDataset.data = uploadData;
                    downloadDataset.data = downloadData;

                    horizontalChart3.data.datasets[0].data = sessionData;
                    horizontalChart3.data.labels = timeData;

                    uploadDataset.label = 'Upload-Mbps';
                    downloadDataset.label = 'Download-Mbps';
                    horizontalChart.update();
                    horizontalChart2.update();
                    horizontalChart3.update();
                    

                  }else{
                    
                    var ethernetContainer = document.getElementById('ethernetover');
                    while (ethernetContainer.firstChild) {
                      ethernetContainer.removeChild(ethernetContainer.firstChild);
                    }
                    for (var item in data) {
                      if (item != 'system'){
                        var div = document.createElement('div');
                        div.className = 'col ps-3';
                        ethspeed = speedeth(data[item].speed)
                        if(ethspeed == '1G' || ethspeed =='2.5G' || ethspeed =='10G' || ethspeed =='25G'){
                          ethcolor = 'text-success';
                        }else if(ethspeed == '10M' || ethspeed == '100M'){
                          ethcolor = 'text-warning'
                        }else{
                          ethcolor = 'text-dark';
                        }
                        div.innerHTML = `
                          <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="fa-solid fa-ethernet ${ethcolor}"></i>
                            </div>
                            <div class="ps-3">
                              <h5>${ethspeed}</h5>
                              <span class="text-success small pt-1 fw-bold">${item}</span>
                            </div>
                          </div>
                        `;

                        ethernetContainer.appendChild(div);
                      };
                    }
                  }
              },
              error: function (error) {
                  console.error('Error:', error);
              },
          });
      }
      
      function flowhistory(){
        var e = document.getElementById('time').value;
        $.ajax({
              url: '/api?mode=flow-history&time='+e,
              method: 'GET',
              dataType: 'json',
              success: function (data) {
                BS = data['bandwidthstatus'];
                S  = data['system'];
                LB = data['loadbalance'];

                var history = document.getElementById('history');
                while (history.firstChild) {
                  history.removeChild(history.firstChild);
                }
                for(var i in S['data']) { 
                    if (i != 'timestamp'){
                      var div = document.createElement('history');
                      div.className = 'col';
                      div.innerHTML = `
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#chart${i}" aria-expanded="false" aria-controls="chart${i}">
                              ${i}
                            </button>
                          </h2>
                          <div id="chart${i}" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
                            <div class="accordion-body">
                              <canvas id="${i}" style="max-height: 250px; display: block; box-sizing: border-box; height: 182px; width: 364px;"></canvas>
                            </div>
                          </div>
                        </div>
                        `;
                      history.appendChild(div);
                    }
                };
                for(var i in LB) { 
                    var div = document.createElement('history');
                    div.className = 'col';
                    div.innerHTML = `
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#chart${i}" aria-expanded="false" aria-controls="chart${i}">
                              ${i}
                            </button>
                          </h2>
                          <div id="chart${i}" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
                            <div class="accordion-body">
                              <span id='status${i}'></span>
                              <canvas id="${i}" style="max-height: 250px; display: block; box-sizing: border-box; height: 182px; width: 364px;"></canvas>
                            </div>
                          </div>
                        </div>
                        `;
                    history.appendChild(div);
                }; 
                for(var i in BS) { 
                    var div = document.createElement('history');
                    div.className = 'col';
                    div.innerHTML = `
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#chart${i}" aria-expanded="false" aria-controls="chart${i}">
                              ${i}
                            </button>
                          </h2>
                          <div id="chart${i}" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
                            <div class="accordion-body">
                              <span id='status${i}'></span>
                              <canvas id="${i}" style="max-height: 250px; display: block; box-sizing: border-box; height: 182px; width: 364px;"></canvas>
                            </div>
                          </div>
                        </div>
                        `;
                    history.appendChild(div);
                };

                var dataS = S.data;
                timeS = S.data.timestamp;
                for (var key in dataS) {
                  if (dataS.hasOwnProperty(key)) { 
                    var jsonData = dataS[key];
                      if (key != 'timestamp'){
                        var canvas = document.getElementById(key).getContext('2d');

                        new Chart(canvas, {
                          type: 'line',
                          data: {
                              labels: timeS,
                              datasets: [
                                  {
                                      label: key,
                                      fill: true,
                                      tension: 0.5,
                                      backgroundColor: 'rgb(2, 101, 151, 0.3)',
                                      borderColor: 'rgb(2, 101, 151)',
                                      borderWidth: 1,
                                      radius: 0,
                                      data: jsonData,
                                  }
                              ],
                          },
                          options: {
                              responsive: true,
                              interaction: {
                                  mode: 'index',
                                  intersect: false
                              },
                              scales: {
                                  y: {
                                      display: true,
                                      title: {
                                          display: true,
                                          text: 'Usage ' + key
                                      }
                                  }
                              }
                          }
                        });
                      }
                  };
                };
                
                for (var key in LB){
                  if (LB.hasOwnProperty(key)) { 
                    var jsonData = LB[key];
                    timeLB = jsonData.time
                    uptime('status'+key, jsonData.status)
                    var canvas = document.getElementById(key).getContext('2d');

                          new Chart(canvas, {
                            type: 'line',
                            data: {
                                labels: jsonData.time,
                                datasets: [
                                    {
                                        label: 'Status',
                                        fill: true,
                                        tension: 0.5,
                                        backgroundColor: 'rgb(2, 101, 151, 0.3)',
                                        borderColor: 'rgb(2, 101, 151)',
                                        borderWidth: 1,
                                        radius: 0,
                                        data: jsonData.status,
                                    },
                                    {
                                        label: 'Tracking',
                                        fill: true,
                                        tension: 0.5,
                                        backgroundColor: 'rgb(73, 158, 9, 0.3)',
                                        borderColor: 'rgb(73, 158, 9)',
                                        borderWidth: 1,
                                        radius: 0,
                                        data: jsonData.tracking,
                                    }
                                ],
                            },
                            options: {
                                responsive: true,
                                interaction: {
                                    mode: 'index',
                                    intersect: false
                                }
                            }
                          });
                    }
                }

                for (var key in BS){
                  if (BS.hasOwnProperty(key)) { 
                    var jsonData = BS[key];
                    timeBS = jsonData.time
                    var canvas = document.getElementById(key).getContext('2d');

                          new Chart(canvas, {
                            type: 'line',
                            data: {
                                labels: jsonData.time,
                                datasets: [
                                    {
                                        label: 'Received',
                                        fill: true,
                                        tension: 0.5,
                                        backgroundColor: 'rgb(2, 101, 151, 0.3)',
                                        borderColor: 'rgb(2, 101, 151)',
                                        borderWidth: 1,
                                        radius: 0,
                                        data: jsonData.eth_down,
                                    },
                                    {
                                        label: 'Send',
                                        fill: true,
                                        tension: 0.5,
                                        backgroundColor: 'rgb(73, 158, 9, 0.3)',
                                        borderColor: 'rgb(73, 158, 9)',
                                        borderWidth: 1,
                                        radius: 0,
                                        data: jsonData.eth_upload,
                                    }
                                ],
                            },
                            options: {
                                responsive: true,
                                interaction: {
                                    mode: 'index',
                                    intersect: false
                                }
                            }
                          });
                    }
                }
              },
              error: function (error) {
                  console.error('Error:', error);
              },
          });
      }

      function call(){
        overview();
        loadbalance()
      }
      
      call();
      flowhistory();
      setInterval(call, 2000);

      var defaultInterval = document.getElementById("intervalSelect").value;
      var selectedInterval = defaultInterval * 1000;
      var interval;
      function changeInterval() {
          var newInterval = document.getElementById("intervalSelect").value;
          if (newInterval !== defaultInterval) {
              selectedInterval = newInterval * 1000;
              clearInterval(interval);
              interval = setInterval(fetchflow, selectedInterval);
          }
      }
      interval = setInterval(fetchflow, selectedInterval);
      $("#intervalSelect").on("change", function () {
        changeInterval();
      });

      $("#mytab").on("change", function () {
        call();
      });

      $('#time').on('apply.daterangepicker', function(ev, picker) {
          flowhistory();
      }); 

  });

  $('#time').daterangepicker({
            timePicker: true,
            timePicker24Hour: true,
            opens: 'left',
            locale: {
              format: 'YYYY-M-DD HH:mm:ss'
            }
        }, function(start, end) {
            var dayDifference = end.diff(start, 'days');
            if (dayDifference > 90) {
                end = start.clone().add(90, 'days');
            }

            $('#time').val(start.format('YYYY-MM-DD HH:mm:ss') + ' - ' + end.format('YYYY-MM-DD HH:mm:ss'));

            $('#time').data('daterangepicker').setEndDate(end);
        });
        var defaultStart = moment().format('YYYY-MM-DD 00:00:00');
        var defaultEnd = moment().format('YYYY-MM-DD 23:59:00');
        $('#time').val(defaultStart + ' - ' + defaultEnd);
</script>
</body>

</html>